<section>
  <div class="page-header">
    <h1>{{vm.race._id ? 'Edit Race' : 'New Race'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.raceForm" class="form-horizontal" ng-submit="vm.save(vm.form.raceForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.race.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.raceForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Race name is required.</p>

          <label class="control-label" for="date">Date</label>
            <input name="date" type="date" ng-model="vm.race.date" id="date" class="form-control" placeholder="Date" required>
            <div ng-messages="vm.form.raceForm.name.$error" role="alert">
              <p class="help-block error-text" ng-message="required">Race date is Required</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.race._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
